.registration-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.error-border {
    border-color: red !important;
}